.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.timer{
  margin-left: 28rem;
  background-color: #8a51f5;
  width: 150px;
}

.App-header {
  background-color: #14bdac;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.master {
  overflow: hidden;
  box-sizing: border-box;
}

.side-bar {
  float: left;
  width: 50%;
  justify-content: center;
  padding-top: 20%;
}

.game {
  float: right;
  width: 50%;
}

.board {
  
  display: flex;
  width: 600px;
  height: 600px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
  
.square {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: 5px solid #63a19b;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.square:hover {
    cursor: pointer;
    background-color: #14bdac;
}

.reset-button {
  display: flex;
  width: 140px;
  height: 60px;
  font-size: 25px;
  background-color: #ff3f04;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 3px;
  color: white;
  text-shadow: 3px 2px gray;
}

.reset-button:active {
      background-color: #14bdac;}

.button-line {
  display: flex;
  width: 500px;
  padding-top: 20px;
}

.active-singleplayer-button {
  padding: 2px;
  display: flex;
  width: 120px;
  height: 60px;
  font-size: 20px;
  background-color: #2080E4;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 3px;
  color: white;
  text-shadow: 3px 2px gray; 
}

.deactived-singleplayer-button {
  padding: 2px;
  display: flex;
  width: 120px;
  height: 60px;
  font-size: 20px;
  background-color: #666D75;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 3px;
  color: white;
  text-shadow: 3px 2px gray; 
}

.active-multiplayer-button {
  padding: 2px;
  display: flex;
  width: 120px;
  height: 60px;
  font-size: 20px;
  background-color: #2080E4;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 3px;
  color: white;
  text-shadow: 3px 2px gray; 
}

.deactived-multiplayer-button {
  padding: 2px;
  display: flex;
  width: 120px;
  height: 60px;
  font-size: 20px;
  background-color: #666D75;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 3px;
  color: white;
  text-shadow: 3px 2px gray; 
}